<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="60"> <!-- 60秒刷新一次页面-->
    <title>Screen3</title>
    <script src="../js/angular.min.js"></script>
    <script src="../js/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/screen3.css">
  </head>
  <body>
     <div ng-app="myApp" ng-controller="screen3Ctrl" class="main_container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-6 img_padding" ng-repeat="env in envList">
              <img ng-src="{{env.img}}" ng-if="env.img!=''" alt="" width="100%" height="200px"/>
            </div>
            <div class="col-md-12">
              <h2>智能生产控制MES<span ng-if="produceControlList.length==0" class="today">今日无数据</span></h2>
            </div>
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>出勤</th>
                    <th>日产量</th>
                    <th>返工率</th>
                    <th>人均产量</th>
                    <th>平均工时</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="produceControl in produceControlList">
                    <td ng-bind="produceControl.workshop"></td>
                    <td>
                      <span class="duty_on" ng-bind="produceControl.onduty"></span>
                      <span class="duty_off">/</span>
                      <span class="duty_off" ng-bind="produceControl.total_num"></span>
                    </td>
                    <td ng-bind="produceControl.daily_output"></td>
                    <td ng-bind="produceControl.rework_rate|number:2|percent"></td>
                    <td ng-bind="produceControl.daily_output/produceControl.onduty|number:2"></td>
                    <td ng-bind="produceControl.average_hours|number:2"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <h2>质检</h2>
              <div class="col-md-4 right_border_dashed">
                <h3>一次检验合格率</h3>
                <span class="quality_test_info" ng-bind="qualityTest.oneTimeQualified"></span>
                <h3>返修合格率</h3>
                <span class="quality_test_info"  ng-bind="qualityTest.repairQulified"></span>
              </div>
              <div class="col-md-8">
                <h3>不合格原因分析</h3>
                <div id="reasonAnalyze" style="width: 100%;height:200px;"></div>
              </div>
            </div>
            <div class="col-md-12">
              <h2>问题栈点<span class="problem">Top3</span></h2>
              <div class="col-md-4 problem_stack">
                <div class="data" style="color: rgb(101,222,249);" ng-bind="problemStack.p1num|number:2|percent"></div>
                <div class="text-center" ng-bind="problemStack.p1"></div>
              </div>
              <div class="col-md-4 problem_stack">
                <div class="data" style="color: rgb(128,253,0);" ng-bind="problemStack.p2num|number:2|percent"></div>
                <div class="text-center" ng-bind="problemStack.p2"></div>
              </div>
              <div class="col-md-4 problem_stack">
                <div class="data" style="color: rgb(253,136,7);" ng-bind="problemStack.p3num|number:2|percent"></div>
                <div class="text-center" ng-bind="problemStack.p3"></div>
              </div>
            </div>
            </div>
            <div class="col-md-6">
              <h2>智能排程APS<span class="glyphicon glyphicon-play arrow"></span></h2>
              <div class="col-md-12">
                <div class="col-md-2" ng-repeat="schedule in scheduleList">
                  <div class="col-md-12 semi_circle_up" ng-bind="schedule.num"></div>
                  <div class="col-md-12 semi_circle_down" ng-bind="schedule.type"></div>
                </div>
              </div>
              <div class="col-md-12 schedule_top">
                <div class="col-md-3 right_border_dashed">
                  <h3>排产成功率</h3>
                  <span class="schedule_info" ng-bind="scheduleInfo.successRate"></span>
                  <h3>冲突率</h3>
                  <span class="schedule_info" ng-bind="scheduleInfo.conflictRate"></span>
                </div>
                <div class="col-md-3">
                  <h3>排产失败</h3>
                  <span class="schedule_info_error" ng-bind="scheduleInfo.faliure"></span>
                </div>
                <div class="col-md-6 process_top">
                  <div class="progress"  ng-repeat="scheduleFinal in scheduleFinalList" style="width: {{scheduleFinal.num}};">
                    <span class="schedule_bar" ng-bind="scheduleFinal.type"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h2>供应链</h2>
                <div class="col-md-3">
                  <h3>今日订单</h3>
                </div>
                <div class="col-md-3 no_padding">
                  <span class="supply_chain_info">面料:</span>
                  <span class="supply_chain_f" ng-bind="supplyChain.materials"></span>
                </div>
                <div class="col-md-3 no_padding">
                  <span class="supply_chain_info">辅料:</span>
                  <span class="supply_chain_f" ng-bind="supplyChain.accessories"></span>
                </div>
                <div class="col-md-3 no_padding">
                  <span class="supply_chain_info">配件:</span>
                  <span class="supply_chain_f" ng-bind="supplyChain.parts"></span>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 no_padding">
                    <span class="supply_chain_info">总供货进度:</span>
                    <span class="supply_chain_s" ng-bind="supplyChain.completeRate"></span>
                  </div>
                  <div class="col-md-6 no_padding">
                    <span class="supply_chain_info">总供货及时率:</span>
                    <span class="supply_chain_s" ng-bind="supplyChain.intimeRate"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <br/>
                <h2>总计划达成率</h2>
                <div id="planComplete" style="width: 100%;height:190px;"></div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3 no_padding"><h2>IT运维</h2></div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3"><h4>机房环境</h4></div>
                <div class="col-md-9">
                  <ul class="nav nav-tabs">
                    <li ng-class="{true:'active',false:''}[isTemperature]" ng-click="clickEnvTab('temperature')"><a href="#temperature">温度</a></li>
                    <li ng-class="{true:'active',false:''}[isHumidity]" ng-click="clickEnvTab('humidity')"><a href="#humidity">湿度</a></li>
                    <li ng-class="{true:'active',false:''}[isVoltage]" ng-click="clickEnvTab('voltage')"><a href="#voltage">电压</a></li>
                  </ul>
                  <div id="itenv" style="width: 100%;height:200px;"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3"><h4>关键资源可用性</h4></div>
                <div class="col-md-9">
                  <ul class="nav nav-tabs">
                    <li ng-class="{true:'active',false:''}[isHost]" ng-click="clickResTab('host')"><a href="#host">主机</a></li>
                    <li ng-class="{true:'active',false:''}[isDatabase]" ng-click="clickResTab('database')"><a href="#database">数据库</a></li>
                    <li ng-class="{true:'active',false:''}[isMiddleware]" ng-click="clickResTab('middleware')"><a href="#middleware">中间件</a></li>
                  </ul>
                  <div id="resource" style="width: 100%;height:200px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </script>
  </body>
  <script src="../js/screen3.js"></script>
</html>